@import url('https://fonts.googleapis.com/css?family=Archivo:300');

:root {
  --colour-black: black;
  --colour-white: white;
  --colour-purple: #5514ac;
  
  /* dynamic colours */
  --colour-body: var(--colour-black);
  --colour-text: var(--colour-white);
  
  --heading: "Archivo", sans-serif;
  --subheading: serif;
  --content: "Archivo", sans-serif;
  
  --bold: 800;
  --semi-bold: 500;
  --regular: 400;

  --linespace: 1.5;
  --inner-padding: 3em;
  --padding: 2em;
  --gap: 1em;
  
  --shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  
  --round: 100%;
  --corner-normal: 0.8em;
  --corner-large: 1.8em;
  
  --real-vh: 100vh;
  
  /* z-index */
  --z-cursor: 1000;
  --z-topbar: 100;
  --z-sidebar: 101;
  --z-propop: 102;
  --z-scrollbar: 1001;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* ::selection {
  background-color: var(--colour-black);
  color: var(--colour-white);
} */

html {
  font: var(--regular) 1em/var(--linespace) var(--content);
  color: var(--colour-text);
}

p {
  font: var(--regular) 1.2em/var(--linespace) var(--content);
  max-width: 62em;
}

p span {
  font: var(--bold) 1em/var(--linespace) var(--content);
}

h1 {
  font: var(--bold) 2.5em/1.3 var(--heading);
  color: var(--colour-text);
}

h2 {
  font: var(--bold) 1.625em/1.3 var(--heading);
}
h3 {
  font: var(--bold) 1.125em/var(--linespace) var(--heading);
  color: var(--colour-text);
  max-width: 62em;
}
h3.highlight {
  background-color: pink;
  line-height: 2;
}
h4 {
  font: var(--bold) 1em/var(--linespace) var(--subheading);
  color: var(--colour-text);
}
h4 span {
  font: var(--regular) 0.9em/var(--linespace) var(--subheading);
}

h6 {
  font: 700 0.8em/var(--linespace) var(--subheading);
}

h1,h2,h3,h4,h5,h6,p,span,a {
  color: var(--colour-text);
}

main {
  height: var(--real-vh);
}

section {
  min-height: var(--real-vh);
  padding: var(--padding);
}

/* ________________NAV__________________ */

nav.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: auto min-content;
  padding: calc(var(--inner-padding) / 1) var(--padding);
  padding-bottom: 0;
  z-index: var(--z-topbar);
  align-items: center;
}

/* ________________MENU__________________ */

.menu {
  position: fixed;
  right: 0;
  top: calc(var(--inner-padding) * 2);
  z-index: var(--z-sidebar);
  background-color: white;
  padding: var(--inner-padding);
  min-width: 16em;
  --colour-text: var(--colour-purple);
}

.menu a {
  text-decoration: underline;
}

.logo img {
  height: 3em;
}

/* ________________BUTTONS__________________ */

button {
  border: none;
  appearance: none;
  padding: calc(var(--inner-padding) / 3) calc(var(--inner-padding) / 3);
  background-color: transparent;
  border: 2px solid var(--colour-white);
  cursor: pointer;
  color: var(--colour-text);
  border-radius: var(--corner-normal);
}
button.round {
  width: 7.5em;
  height: 7.5em;
  border-radius: var(--round);
  font-size: 1.1em;
}

button.icon {
  padding: calc(var(--inner-padding) / 8);
  background-color: unset;
  border: unset;
}
button.icon img {
  width: 3em;
  filter: invert(1);
  display: block;
}

button.icon.icon-round {
  background-color: var(--colour-purple);
  padding: calc(var(--inner-padding) / 2.2);
  border-radius: var(--round);
}
button.icon.icon-round img {
  width: 1.5em;
}

a {
  color: var(--colour-text);
}
a.text {
  font-weight: bolder;
}

.footer-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: var(--gap);
}

/* ________________SECTIONS__________________ */

section.landing {
  display: grid;
  align-items: flex-end;
}
section.introduction, section.footer {
  display: grid;
  align-items: center;
}
section.explore {
  padding: unset;
  height: unset;
}
section.explore > .title {
  padding-left: var(--padding);
}

/* ________________LAYOUTS__________________ */

.item-row {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

.item-list,
.item-list-large {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.item-list > button {
  margin-right: auto;
}

.item-list-large {
  gap: var(--padding);
}

.right-item-layout {
  display: grid;
  grid-template-columns: auto min-content;
}

.grad-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

/* ________________MAP__________________ */

.node-map {
  width: 100%;
  position: relative;
}

.node {
  min-width: 3em;
  width: 3em;
  height: 3em;
  background-color: var(--colour-white);
  border-radius: var(--round);
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: 0.3s ease, border-radius 0.5s ease;
  overflow: hidden;
}
.node h3 {
  opacity: 0;
  visibility: hidden;
  user-select: none;
  transition: 0.5s ease;
  position: absolute;
}

.node[data-expand="true"] {
  min-width: 10em;
  border-radius: var(--corner-normal);
  margin-left: -3.5em;
  padding: 0 var(--inner-padding);
  transition: 0.5s ease, border-radius 0.1s ease;
}
.node[data-expand="true"] h3 {
  opacity: 1;
  visibility: visible;
}

/* ________________MODAL__________________ */

.modal {
  position: relative;
  width: 88vw;
  max-width: 50em;
  background-color: var(--colour-white);
  --colour-text: var(--colour-purple);
  padding: calc(var(--inner-padding) / 1.5);
  display: grid;
  gap: var(--gap);
  border-radius: var(--corner-large);
  height: 70vh;
  grid-template-rows: min-content auto max-content;
}
.inner-modal {
  overflow-y: auto;
}
.modal-behind {
  position: fixed;
  inset: 0;
  z-index: var(--z-propop);
  display: grid;
  align-items: center;
  justify-content: center;
}
.modal button {
  border-color: var(--colour-purple);
}
.modal .modal-topbar h3.highlight {
  margin-right: auto;
  padding: 0 calc(var(--gap) / 6);
}
.modal .modal-topbar button {
  position: absolute;
  top: 0;
  right: 0;
}

/* ________________HOVER__________________ */

@media not all and (hover: none) {
  button:hover {
    background-color: var(--colour-white);
    color: var(--colour-black);
  }
  button.round:hover {
    background-color: var(--colour-white);
    color: var(--colour-black);
  }
  
  button.icon:hover {
    background-color: unset;
  }
  
  button.icon.icon-round:hover {
    filter: brightness(1.2);
    background-color: var(--colour-purple);
  }
  a:hover {
    text-decoration: underline;
  }
  
  .ps--active-y >.ps__rail-y:hover > .ps__thumb-y,
  .ps--active-x > .ps__rail-x:hover > .ps__thumb-x {
      width: 8px;
  }
  
  .ps--active-y>.ps__rail-y:hover,
  .ps--active-x>.ps__rail-x:hover {
      width: 12px;
      background-color: transparent;
  }
  .ps:hover>.ps__rail-y {
    background-color: transparent;
  }
}

@media screen and (min-width: 70em) {
  :root {
    --padding: 8em;
  }
  
  h1 {
    font-size: 4em;
  }
}

/* ________________SCROLL__________________ */

.scroll-container {
  position: relative;
  height: 100%;
}

.ps__thumb-y,
.ps__thumb-x {
  background-color: #efefef !important;
  width: 3px;
  cursor: pointer;
}

.ps__rail-y {
  margin: 0.5em 0.25em;
  margin-left: 0;
  width: 12px;
}

.ps__rail-y,
.ps__rail-x {
  z-index: var(--z-scrollbar);
  border-radius: var(--corner-normal);
}

.ps--active-y>.ps__rail-y:focus,
.ps--active-x>.ps__rail-x:focus,
.ps--active-y>.ps__rail-y.ps--clicking,
.ps--active-x>.ps__rail-x.ps--clicking {
    width: 12px;
    background-color: transparent;
}
.ps--active-y>.ps__rail-y:focus > .ps__thumb-y,
.ps--active-x>.ps__rail-x:focus > .ps__thumb-x,
.ps--active-y>.ps__rail-y.ps--clicking > .ps__thumb-y,
.ps--active-x>.ps__rail-x.ps--clicking > .ps__thumb-x {
    width: 8px;
}

.App::after {
  content: "";
  background-image: url("img/grain2.jpg");
  opacity: 0.06;
  top: -30vh;
  left: -35vw;
  width: 200vw;
  position: fixed;
  z-index: -1;
  height: 200vh;
  animation: noise 1.2s steps(2) infinite;
  will-change: transform;
  background-position: 50%;
  background-size: 10em;
  pointer-events: none;
}

@keyframes noise{0%{transform:translate3d(0,9rem,0)}10%{transform:translate3d(-1rem,-4rem,0)}20%{transform:translate3d(-8rem,2rem,0)}30%{transform:translate3d(9rem,-9rem,0)}40%{transform:translate3d(-2rem,7rem,0)}50%{transform:translate3d(-9rem,-4rem,0)}60%{transform:translate3d(2rem,6rem,0)}70%{transform:translate3d(7rem,-8rem,0)}80%{transform:translate3d(-9rem,1rem,0)}90%{transform:translate3d(6rem,-5rem,0)}to{transform:translate3d(-7rem,0,0)}};