@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');
@font-face {
  font-family: 'Tiempos';
  src: local('tiempos'), url(./fonts/tiempos.woff2) format('woff2');
}

:root {
  --colour-black: black;
  --colour-white: white;
  --colour-purple: #5514ac;
  
  /* dynamic colours */
  --colour-body: var(--colour-black);
  --colour-text: var(--colour-white);
  
  --heading: "Tiempos", sans-serif;
  --subheading: "Roboto", sans-serif;
  --content: "Roboto", sans-serif;
  
  --bold: 700;
  --semi-bold: 500;
  --med: 500;
  --regular: 300;

  --linespace: 1.3;
  --inner-padding: 3em;
  --padding: 2em;
  --gap: 1em;
  
  --shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  
  --round: 100%;
  --corner-large: 1.8em;
  --corner-normal: 0.8em;
  --corner-small: 0.5em;
  
  --split-width: 25vw;
  
  --real-vh: 100vh;
  
  /* z-index */
  --z-cursor: 1000;
  --z-topbar: 100;
  --z-sidebar: 101;
  --z-propop: 102;
  --z-scrollbar: 1001;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* ::selection {
  background-color: var(--colour-black);
  color: var(--colour-white);
} */

html {
  font: var(--regular) 1em/var(--linespace) var(--content);
  color: var(--colour-text);
}

p {
  font: var(--regular) 1.4em/var(--linespace) var(--content);
  max-width: 62em;
}
p.small {
  font-size: 1.1em;
  line-height: 1.6;
}

h1 {
  font: var(--med) 3.5em/1.1 var(--heading);
}

h2 {
  font: var(--med) 2.4em/var(--linespace) var(--heading);
}
h3 {
  font: var(--med) 1.6em/var(--linespace) var(--heading);
}
h4 {
  font: var(--bold) 1.3em/var(--linespace) var(--subheading);
  text-transform: uppercase;
}
h5 {
  font: var(--black) 1.2em/var(--linespace) var(--subheading);
}
h6 {
  font: var(--med) 1.1em/var(--linespace) var(--subheading);
}

h1,h2,h3,h4,h5,h6,p,span,a {
  color: var(--colour-text);
}
h1.highlight,
h2.highlight,
h3.highlight,
h4.highlight,
h5.highlight,
h6.highlight,
p.highlight,
span.highlight,
a.highlight {
  --colour-text: var(--colour-purple);
}

main {
  height: var(--real-vh);
}
body {
  overflow-x: hidden;
}

/* ________________NAV__________________ */

nav.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: auto min-content;
  padding: calc(var(--inner-padding) / 1) var(--padding);
  padding-bottom: 0;
  z-index: var(--z-topbar);
  align-items: center;
}

/* ________________MENU__________________ */

.menu {
  position: fixed;
  inset: 0;
  z-index: var(--z-sidebar);
  background-color: rgba(0,0,0,0.3);
  --colour-text: var(--colour-purple);
}
.inner-menu {
  background-color: var(--colour-white);
  padding: var(--inner-padding);
  display: grid;
  gap: var(--padding);
}

.menu .logo img, .menu button.icon {
  filter: invert(1);
}

.logo img {
  height: 4em;
}
.logo > :last-child {
  display: none;
}

/* ________________BUTTONS__________________ */

button {
  font: var(--regular) 1.4em/1 var(--content);
  border: none;
  appearance: none;
  padding: calc(var(--inner-padding) / 4) calc(var(--inner-padding) / 3);
  background-color: transparent;
  border: 2px solid var(--colour-white);
  cursor: pointer;
  color: var(--colour-text);
  border-radius: var(--corner-small);
}
button.highlight {
  border-color: var(--colour-purple);
  --colour-text: var(--colour-purple);
}
button.round {
  font: var(--med) 1.1em/1 var(--heading);
  width: 8em;
  height: 8em;
  border-radius: var(--round);
}

button.icon {
  padding: calc(var(--inner-padding) / 8);
  background-color: unset;
  border: unset;
  font-size: 1em;
}
button.icon img {
  width: 3em;
  filter: invert(1);
  display: block;
}

button.icon.icon-round {
  background-color: var(--colour-purple);
  padding: calc(var(--inner-padding) / 3);
  border-radius: var(--round);
}
button.icon.icon-round img {
  width: 1.5em;
}

a {
  color: var(--colour-text);
  text-decoration: unset;
}
a.text {
  font-weight: bolder;
}

.footer-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: var(--gap);
}

/* ________________SECTIONS__________________ */

section {
  padding: var(--padding);
}

section.landing {
  display: grid;
  align-content: flex-end;
  grid-template-rows: max-content min-content max-content;
  min-height: var(--real-vh);
  gap: var(--gap);
}
section.landing p {
  max-width: 12em;
}
section.landing .divider {
  max-width: 24em;
}
section.landing .divider .line {
  height: 3px;
}
section.landing .divider .ball {
  width: 1em;
  height: 1em;
}

section.introduction, section.footer {
  display: grid;
  align-items: center;
}
section.explore {
  padding: unset;
  height: unset;
}
section.explore > .title {
  padding-left: var(--padding);
}

/* ________________SECTION WRAPPER__________________ */

.section-wrapper {
  display: grid;
  gap: calc(var(--gap) * 2);
}
.section-wrapper .section-wrapper-header {
  display: grid;
  gap: calc(var(--gap) * 1);
  grid-template-rows: max-content min-content;
}
.section-wrapper .section-title {
  max-width: 8em;
}
.section-wrapper[data-split="true"] {
  display: grid;
}

/* ________________LINE DIVIDER__________________ */

.divider {
  width: 100%;
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
}
.divider .ball {
  width: 0.8em;
  height: 0.8em;
  border-radius: var(--round);
  background-color: var(--colour-white);
}
.divider .line {
  width: 100%;
  height: 2px;
  background-color: var(--colour-white);
}
.section-wrapper[data-split="true"] .divider {
  max-width: unset;
}

/* ________________LAYOUTS__________________ */

.item-row {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

.item-list,
.item-list-large {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.item-list > button {
  margin-right: auto;
}

.item-list-large {
  gap: var(--padding);
}

.right-item-layout {
  display: grid;
  grid-template-columns: auto min-content;
}

.button-grid {
  display: flex;
  flex-direction: row;
  gap: calc(var(--gap) / 2);
  flex-wrap: wrap;
}

.grad-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

/* ________________MAP__________________ */

.node-map {
  width: 100%;
  position: relative;
}

.node {
  min-width: 3em;
  width: 3em;
  height: 3em;
  background-color: var(--colour-white);
  border-radius: var(--round);
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: 0.3s ease, border-radius 0.5s ease;
  overflow: hidden;
}
.node h3 {
  opacity: 0;
  visibility: hidden;
  user-select: none;
  transition: 0.5s ease;
  position: absolute;
}

.node[data-expand="true"] {
  min-width: 10em;
  border-radius: var(--corner-normal);
  margin-left: -3.5em;
  padding: 0 var(--inner-padding);
  transition: 0.5s ease, border-radius 0.1s ease;
}
.node[data-expand="true"] h3 {
  opacity: 1;
  visibility: visible;
}

/* ________________MODAL__________________ */

.modal {
  position: relative;
  width: 88vw;
  max-width: 50em;
  background-color: var(--colour-white);
  --colour-text: var(--colour-purple);
  padding: calc(var(--inner-padding) / 1.5);
  display: grid;
  gap: var(--gap);
  border-radius: var(--corner-large);
  height: 70vh;
  grid-template-rows: min-content auto max-content;
}
.inner-modal {
  overflow-y: auto;
}
.modal .modal-topbar {
  align-items: center;
}
.modal-behind {
  position: fixed;
  inset: 0;
  z-index: var(--z-propop);
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
}

/* ________________TEAM__________________ */

section.team .team-set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: calc(var(--gap) * 2);
  column-gap: calc(var(--gap) / 2);
}
section.team .team-set .team-card {
  display: grid;
  gap: var(--gap);
  width: 10em;
  grid-template-rows: repeat(3, max-content);
  flex-grow: 0;
  flex-shrink: 0;
}
section.team .team-set .team-card img {
  width: 100%;
  border-radius: var(--corner-small);
}
section.team .team-set .team-card .name {
  text-transform: uppercase;
}
section.team .team-set .team-card .title {
  line-height: 1.1;
}

/* ________________HOVER__________________ */

@media not all and (hover: none) {
  button:hover {
    background-color: var(--colour-white);
    color: var(--colour-black);
  }
  button.highlight:hover {
    background-color: var(--colour-purple);
    color: var(--colour-white);
  }
  button.round:hover {
    background-color: var(--colour-white);
    color: var(--colour-black);
  }
  
  button.icon:hover {
    background-color: unset;
  }
  
  button.icon.icon-round:hover {
    filter: brightness(1.2);
    background-color: var(--colour-purple);
  }
  a:hover {
    text-decoration: underline;
  }
  
  .ps--active-y >.ps__rail-y:hover > .ps__thumb-y,
  .ps--active-x > .ps__rail-x:hover > .ps__thumb-x {
      width: 8px;
  }
  
  .ps--active-y>.ps__rail-y:hover,
  .ps--active-x>.ps__rail-x:hover {
      width: 12px;
      background-color: transparent;
  }
  .ps:hover>.ps__rail-y {
    background-color: transparent;
  }
}

@media screen and (min-width: 70em) {
  :root {
    --padding: 8em;
  }
  
  p {
    font-size: 1.4em;
  }
  p.small {
    font-size: 1.3em;
  }
  
  h1 {
    font-size: 5.25em;
  }
  h2 {
    font-size: 3.5em;
  }
  h3 {
    font-size: 2.1em;
  }
  h4 {
    font-size: 2em;
  }
  h5 {
    font-size: 1.4em;
  }
  h6 {
    font-size: 1.3em;
  }
  
  button {
    font-size: 1.4em;
  }
  button.round {
    font-size: 1.3em;
  }
  
  .logo > :last-child {
    display: block;
  }
  
  .section-wrapper[data-split="true"] {
    grid-template-columns: max-content auto;
    grid-template-rows: max-content auto;
    row-gap: unset;
  }
  .section-wrapper[data-split="true"] .divider {
    width: var(--split-width);
    max-width: 26em;
  }
  .section-wrapper[data-split="true"] .section-wrapper-header { 
    /* grid-column: span 2; */
    width: var(--split-width);
    max-width: 26em;
  }
  .section-wrapper[data-split="true"] > :nth-child(2) { 
    grid-column: 2;
    grid-row: 2;
  }
  
  section.team .team-set .team-card {
    width: 20vw;
    max-width: 18em;
    min-width: 14em;
  }
}

/* ________________SCROLL__________________ */

.scroll-container {
  position: relative;
  height: 100%;
}

.ps__thumb-y,
.ps__thumb-x {
  background-color: #efefef !important;
  width: 3px;
  cursor: pointer;
}

.ps__rail-y {
  margin: 0.5em 0.25em;
  margin-left: 0;
  width: 12px;
}

.ps__rail-y,
.ps__rail-x {
  z-index: var(--z-scrollbar);
  border-radius: var(--corner-normal);
}

.ps--active-y>.ps__rail-y:focus,
.ps--active-x>.ps__rail-x:focus,
.ps--active-y>.ps__rail-y.ps--clicking,
.ps--active-x>.ps__rail-x.ps--clicking {
    width: 12px;
    background-color: transparent;
}
.ps--active-y>.ps__rail-y:focus > .ps__thumb-y,
.ps--active-x>.ps__rail-x:focus > .ps__thumb-x,
.ps--active-y>.ps__rail-y.ps--clicking > .ps__thumb-y,
.ps--active-x>.ps__rail-x.ps--clicking > .ps__thumb-x {
    width: 8px;
}

.App::after {
  content: "";
  background-image: url("img/grain2.jpg");
  opacity: 0.065;
  top: -30vh;
  left: -35vw;
  width: 200vw;
  position: fixed;
  z-index: -1;
  height: 200vh;
  animation: noise 1.8s steps(2) infinite;
  will-change: transform;
  background-position: 50%;
  background-size: 18em;
  pointer-events: none;
}

@keyframes noise{0%{transform:translate3d(0,9rem,0)}10%{transform:translate3d(-1rem,-4rem,0)}20%{transform:translate3d(-8rem,2rem,0)}30%{transform:translate3d(9rem,-9rem,0)}40%{transform:translate3d(-2rem,7rem,0)}50%{transform:translate3d(-9rem,-4rem,0)}60%{transform:translate3d(2rem,6rem,0)}70%{transform:translate3d(7rem,-8rem,0)}80%{transform:translate3d(-9rem,1rem,0)}90%{transform:translate3d(6rem,-5rem,0)}to{transform:translate3d(-7rem,0,0)}};