@import url('https://fonts.googleapis.com/css?family=Archivo:300');

:root {
  --colour-black: black;
  --colour-white: white;
  
  /* dynamic colours */
  --colour-body: white;
  --colour-text: black;
  
  --heading: "Archivo", sans-serif;
  --subheading: serif;
  --content: "Archivo", sans-serif;
  
  --bold: 800;
  --semi-bold: 500;
  --regular: 400;

  --linespace: 1.5;
  --inner-padding: 3em;
  --padding: 2em;
  --gap: 1em;
  
  --shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  
  --round: 100%;
  --corner-normal: 0.8em;
  
  --real-vh: 100vh;
  
  /* z-index */
  --z-cursor: 1000;
  --z-topbar: 100;
  --z-sidebar: 101;
  --z-propop: 102;
  --z-scrollbar: 1001;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* ::selection {
  background-color: var(--colour-black);
  color: var(--colour-white);
} */

html {
  font: var(--regular) 1em/var(--linespace) var(--content);
  color: var(--colour-text);
}

p {
  font: var(--regular) 1.2em/var(--linespace) var(--content);
  max-width: 62em;
}

p span {
  font: var(--bold) 1em/var(--linespace) var(--content);
}

h1 {
  font: var(--bold) 4em/1.3 var(--heading);
  color: var(--colour-text);
}

h2 {
  font: var(--bold) 1.625em/1.3 var(--heading);
}
h3 {
  font: var(--bold) 1.125em/var(--linespace) var(--heading);
  color: var(--colour-text);
  max-width: 62em;
}
h4 {
  font: var(--bold) 1em/var(--linespace) var(--subheading);
  color: var(--colour-text);
}
h4 span {
  font: var(--regular) 0.9em/var(--linespace) var(--subheading);
}

h6 {
  font: 700 0.8em/var(--linespace) var(--subheading);
}

body {
}

section {
  height: var(--real-vh);
  padding: var(--padding);
}

/* ________________NAV__________________ */

nav.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: auto min-content;
  padding: calc(var(--inner-padding) / 3) calc(var(--inner-padding) / 3);
  z-index: var(--z-topbar);
}

/* ________________MENU__________________ */

.menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: var(--z-sidebar);
  background-color: var(--colour-white);
  padding: var(--inner-padding);
  min-width: 30em;
}

/* ________________BUTTONS__________________ */

button {
  border: none;
  appearance: none;
  padding: calc(var(--inner-padding) / 3) calc(var(--inner-padding) / 2);
  background-color: greenyellow;
  cursor: pointer;
}
button.icon {
  padding: calc(var(--inner-padding) / 8);
  background-color: unset;
}
button.icon img {
  width: 1.5em;
}

a {
  color: var(--colour-text);
}

/* ________________SECTIONS__________________ */

section.landing {
  display: grid;
  align-items: flex-end;
  background-color: thistle;
}
section.introduction, section.footer {
  display: grid;
  align-items: center;
}
section.explore {
  background-color: wheat;
  height: 400vh;
}

/* ________________LAYOUTS__________________ */

.item-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.item-list button {
  margin-right: auto;
}

.right-item-layout {
  display: grid;
  grid-template-columns: auto min-content;
}

@media not all and (hover: none) {
  button:hover {
    background-color: seagreen;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .ps--active-y >.ps__rail-y:hover .ps__thumb-y,
  .ps--active-x > .ps__rail-x:hover > .ps__thumb-x {
      background-color: greenyellow !important;
  }
  
  .ps--active-y>.ps__rail-y:hover,
  .ps--active-x>.ps__rail-x:hover {
      background-color: orange !important;
      cursor: pointer;
  }
}

@media screen and (min-width: 70em) {
  :root {
    --padding: 8em;
  }
}

.scroll-container {
  position: relative;
  height: 100%;
}

.ps:hover>.ps__rail-y {
  opacity: 0.8 !important;
}

.ps--active-y>.ps__rail-y.ps--clicking,
.ps--active-x>.ps__rail-x.ps--clicking {
  background-color: blue !important;
}

.ps__thumb-y,
.ps__thumb-x {
  background-color: red !important;
}

.ps__rail-y {
  margin: 0.5em 0.35em;
  margin-left: 0;
}

.ps__rail-y,
.ps__rail-x {
  z-index: var(--z-scrollbar);
  border-radius: var(--corner-normal);
}

@media screen and (max-width: 45em) {
  
  .ps__rail-y {
      margin: 0.3em 0em;
      margin-left: 0;
  }
}